# Database
DATABASE_URL="postgresql://user:password@ep-xxx.neon.tech/delivery_db?sslmode=require"

# JWT
JWT_SECRET="seu-secret-super-seguro-aqui"
JWT_EXPIRES_IN="7d"

# Application
PORT=3000
NODE_ENV="development"

# Kong Gateway
KONG_ADMIN_URL="http://localhost:8001"
KONG_GATEWAY_URL="http://localhost:8000"

